
body {
    background-color: rgb(57, 58, 65);
    color: rgb(255, 255, 255);
    
  }
  
h1 {
    text-align: center;
    font-size: 50px;
    font-family: OCR A Std, monospace;
    text-shadow: 0 0 0.5em currentColor;

  }
  

.headerimage {
    text-align: center;
    
}
  
.headerimage img{
    border-radius: 80px;
}
  
  /*---------------nav---------------------------*/
  
  .nav {
    background-color:  rgb(71, 71, 77);
    border-radius: 30px;
  } 
  
  .nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-left: 50px;
    
  }
  
  .nav li{
    
    display: inline-block;
    margin:-20px 65px 10px;
    text-align: center;
    font-family: OCR A Std, monospace;
  }
  
  .nav li h3{
    padding: 9px 25px;
    background-color: rgb(38, 38, 43);
    border-radius: 30px;
  }
  
  .nav img{
    height:90px;
    width:90px;
    position: relative;
    top: 35px;
  }
  
  /*---------------nav fin--------------------------*/
  
  /*---------------activation--------------------------*/
  

  a:link {       /*remove underline*/
    text-decoration: none;
    color: white;
  }

  a:active{
    color: rgb(50, 44, 54);
  }
  
  a:visited{
    color: rgb(255, 255, 255);
  }

    
  /*---------------fin activation-------------------*/

  /*-------------------info part---------------------*/

  .upload_image{
    background-color: #686369; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 50px;
  }


  .info h3 {
    color: white;
    font-family: OCR A Std, monospace;
    margin-left: 50px;
    margin-right: 50px;
}

  /*-------------------info fin---------------------*/

  /*-------------------uploaded files---------------------*/
  .container{
    display: flex;
    flex-wrap: wrap;

  }

  .uploaded_image img{

    max-width: 600px;
    min-width: 500px;
    margin: 15px;
    border-radius: 10px;
  

  }

  .btn{

    color: pink;

  }

    /*-------------------uploaded files fin---------------------*/

    /* ------------------news page------------------------  */
    .anime_updated {
      font-family: OCR A Std, monospace;
      font-size: 25px;
      margin-left: 50px;
      margin-right: 70px;
    }

    .anime_updated img{
      max-width: 800px;
      float: right;
    }

    .anime_updated h1{
      margin-top: 50px;
      float: left;

    }

    .newslink{
      font-family: OCR A Std, monospace;
      font-size: 25px;
      margin-left: 280px;

    }

    .newslink a{
      color: rgb(190, 190, 255);

    }



    .aboutpage p {
      font-family: OCR A Std, monospace;
      font-size: 25px;
      margin-left: 50px;
      margin-right: 70px;
    }


    .contactlink p{
      float: left;
      margin-left: 800px;
    }