{% extends "layout.html" %}

{%block content%}

<h1>Contact us!!</h1>
<div class = "contactpage">

    <ul>
        <li><h2>Address</h2></li>
        <li><h2>Phone</h2></li>
        <li><h2>Email</h2></li>
    </ul>

    <ul>
        <li><p>Christchurch Burnside <br> 111 *** Road, Burnside, Christchurch 8440</p></li>
        <li><p>Christchurch Burnside <br> 123.456.7890 phone <br> 123.456.7899 facsimale</p></li>
        <li><p>Request for proposal <br> Anime@loveanime.*mail.com <br>
        kawaii@animefangroup.com</p></li>
    </ul>

</div>

{% endblock %}