
{% extends "layout.html" %}
 

{%block content%}



        <div class="info"><tr>
            <th><h1>{{ item[1]}} Images</h1> </th>  <!--Words-->
            <th><h3>Rating: {{ item[2]}}</h3> </th>
            <th><h3>Description: </h3></th>
            <td><h3>{{ item[3]}}</h3></td>
            <th><h3>Add image:</h3></th>
             
            <div class="upload_image">
            <div class="row">
               
            
                    <form method="post" action="/upload" enctype="multipart/form-data">   <!--Adding an image-->
                    <input type="file" name="file" class = 'form-control' autocomplete= "off" required>
                    <input type = "hidden" name = "id" value = "{{item[0]}}">
                    <input type="submit" value="Upload" class = "btn btn-info">
                    </form>
        
            
            </div>
            </div>
<div class = "container">
            {% for i in pics %}
            <div class = "uploaded_image">
                <img src="/static/uploads/{{i[1]}}" alt="">
                
                <form action="/delete" method="post" enctype="multipart/form-data">   <!--deleting pictures-->
                    <input type="hidden" name="picture_id" value="{{i[0]}}">
                    <input type = "hidden" name = "anime_id" value = "{{item[0]}}">
                    <input type="submit" value="Delete" class = "btn btn-info">
                </form>

            </div>
            {%endfor %}
</div>
        </tr></div>

    <div>

        <!-- <img src="{{url_for('display_image', filename=filename) }}"> -->
    </div>
    {% endblock %}


<!-- https://roytuts.com/upload-and-display-image-using-python-flask/ -->
<!-- https://www.youtube.com/watch?v=I9BBGulrOmo -->
<!-- https://stackoverflow.com/questions/42601478/flask-calling-python-function-on-button-onclick-event -->

